.reviews-section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
 
   overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */

}

.reviews-wrapper {
  overflow: hidden;
  width: 100%;
}

.reviews-container {
  display: flex;
  flex-wrap:nowrap;
  transition: transform 0.5s ease;
  gap: 1vw;
    overflow-x: auto;
    overflow-y:hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; 
cursor:grab;
}

.reviews-container::-webkit-scrollbar {
  display: none; 
}

.reviews-container.active-drag {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.review-card {
  flex: 1 0 calc(42% - 0.8vw);
  border: 1px solid rgba(var(--color4),0.9);

  border-radius: 1vw;
  padding: 1rem;
  color: rgba(var(--color2),1);
  background-color:rgba(var(--color4),0.75);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: var(--font-three);
  font-size: clamp(0.5rem,4vw,1rem);
  max-height: 30vh;
  transition: transform 0.8s ease;
  
  
}
.review-card:hover{
  transform:scale(1.025);
   transition: transform 0.5s ease;
   background-color:rgba(var(--color4),0.90);
}

.review-card h3{
    user-select: none;
  -webkit-user-select: none;
  font-family: var(--font-primary);
}

.review-card h3 a{
  user-select: auto !important;
  -webkit-user-drag: auto !important;
  pointer-events:auto !important;
  cursor: pointer;
}
.review-card p {
    font-family: var(--font-secondary);
    font-size: clamp(0.5rem,6.5vw,2.5rem);
   
  overflow: hidden;          
  text-overflow: ellipsis;
      user-select: none;   
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   -webkit-user-drag: none; 
}

.review-card h2{
    font-size: clamp(0.5rem,6vw,1.4rem);
    color: #ecc846;
          user-select: none;   
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   -webkit-user-drag: none; 
}

