/* Showcase Container */
.showcase {
  padding: 20px;
  text-align: center;
  background-color: rgba(var(--color1), 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px; /* Adjust for navbar offset */
  max-height: 60vh; /* Ensure it doesn't take up too much space */
}

.showcase h2 {
  font-family: var(--font-secondary);
  font-size: clamp(2rem, 5vw, 2.5rem);
  color: rgba(var(--color4), 0.9);
}

.sneakpeak:hover {
    background-color:rgba(var(--color4),0.867);
     transform: scale(1.07);
    transition: transform 0.66s ease;
}

.sneakpeak {
  margin-top: 20px;
  background-color: rgba(var(--color2), 0.1); 
  padding: 20px;
  border-radius: 8px;
}


.showcase-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}




.no-items-message {
  font-size: 1.5rem;
  color: rgba(var(--color4), 0.6);
  font-weight: 500;
}


h3 a {
  color: rgba(var(--color4), 0.9);
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 20px;
}

h3 a:hover {
  text-decoration: underline;
  color: rgba(var(--color4), 1);
}

.showcase .menu-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}


